<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Elbrus event</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/event/img/favicon.png" rel="icon">
  <link href="/event/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/event/vendor/aos/aos.css" rel="stylesheet">
  <link href="/event/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/event/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/event/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/event/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/event/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/event/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/event/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Dewi - v4.0.1
  * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Elbrus bootcamp</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="/event/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Домой</a></li>
          <li><a class="nav-link scrollto active" href="#hero">Событие</a></li>
          <li><a class="nav-link scrollto" href="#aboutevent">О событии</a></li>
          <li><a class="nav-link scrollto " href="/profile">Личный кабинет</a></li>
          <li><a class="nav-link scrollto" href="#places">Места</a></li>
          <li><a class="nav-link scrollto" href="#team">Участники</a></li>

          {{!-- <li><a class="nav-link scrollto" href="#otherevents">Все мероприятия</a></li> --}}
          <li><a class="getstarted scrollto" href="#about">Выйти</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>{{newEvent.title}}</h1>
      <h2>Предложи свое место</h2>
      <div class="d-flex">
        <a href="/event/{{newEvent._id}}/addplace" class="btn-get-started scrollto">добавить место</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= описание выбранного события ======= -->
    <section id="aboutevent" class="features">
      <div class="container" data-aos="fade-up">


        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class=" width-block  col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                {{!-- {{title}} --}}

                <div class="section-title">
                  <h2>Что это будет?</h2>
                  <p>О событии</p>
                </div>
                <h3>{{newEvent.title}}</h3>
                <ul>

                  <p>
                    {{newEvent.description}}
                  </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{{newEvent.photo}}" alt="" class="img-fluid">
              </div>
            </div>
              <p>Создатель: {{name}} {{sername}}</p>
              <p >Город: {{newEvent.location}}</p> 
          </div>






          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Neque exercitationem debitis soluta quos debitis quo mollitia officia est</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a.
                    Ipsum neque dolor voluptate nisi sed.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                    pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/event/img/features-2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Voluptatibus commodi ut accusamus ea repudiandae ut autem dolor ut assumenda</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a.
                    Ipsum neque dolor voluptate nisi sed.</li>
                </ul>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/event/img/features-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                  </li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                    pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="/event/img/features-4.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    {{!-- пойду не пойду --}}
    <section id="#" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>А ты пойдешь?</h2>
          <p>Тапни на кнопку</p>
        </div>
        <span><button class="btn-go">Пойду</button></span>
        <span><button class="btn-go">Не пойду</button></span>


      </div>

    </section>


    <!-- ======= места ======= -->
    <section id="places">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Подбор мест</h2>
          <p>Предлагаемые локации</p>
        </div>

      </div>
    </section>

    {{#each places}}
    <section id="places" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">

            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="125" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Сколько человек пойдет</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Голоса</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Дней до начала</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Рейтинг</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{{this.photo}}" alt=""
              class="img-fluid">
            {{!-- <div id="map" style="width: 600px; height: 400px"></div> --}}
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3> {{this.title}}</h3>
            <p class="font-italic">
              {{this.description}}
            </p>
            <p class="font-italic">
              Ссылка на сайт: <a href="http://lawsonbar.ru/">{{this.linkToPlace}}</a>
            </p> 
            {{!-- <p class="font-italic">
              Организатор: <a href="http://lawsonbar.ru/">{{this.linkToPlace}}</a>
            </p>  --}}
          </div>

        </div>

        <span><button class="btn-go">Такое... </button></span>
        <span><button class="btn-go">Норм</button></span>
        <span><button class="btn-go">Круто</button></span>
      </div>
    </section>
    {{/each}}
    <section id="places" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">

            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="125" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Сколько человек пойдет</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Голоса</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Дней до начала</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Рейтинг</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="https://avatars.mds.yandex.net/get-altay/774756/2a0000015f4a9437e029c9a83e527ce6d544/XXL" alt=""
              class="img-fluid">
            {{!-- <div id="map" style="width: 600px; height: 400px"></div> --}}
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3> I LIKE BAR</h3>
            <p class="font-italic">
              I LIKE BAR - дебютный ресторан Владимира Перельмана (открыт в 2012 году), где с первого дня сложи­лось
              все: мягкие диваны сулят расслаб­ление и уют, кухня обещает гастро­но­ми­чески выве­ренные, но простые и
              внятные блюда с душой, а теплая атмо­сфера внушает желание возвра­щаться сюда снова - так же охотно, как к
              себе домой. В меню царит дружба народов: кули­нарные хиты Азии сосед­ствуют с хрустящей пиццей
            </p>

          </div>

        </div>

        <span><button class="btn-go">Такое... </button></span>
        <span><button class="btn-go">Норм</button></span>
        <span><button class="btn-go">Круто</button></span>
      </div>
    </section><!-- End About Section -->
    <section id="places" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">

            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="125" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Сколько человек пойдет</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Голоса</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Дней до начала</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p>Рейтинг</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="/event/img/features-1.jpg" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>Бар у метро Театральная</h3>
            <p class="font-italic">
              Веселое место где можно поорать и попеть караоке
            </p>

          </div>

        </div>

        <span><button class="btn-go">Такое... </button></span>
        <span><button class="btn-go">Норм</button></span>
        <span><button class="btn-go">Круто</button></span>
      </div>
    </section>

    <div id="map" style="width: 100%; height: 300px"></div>

    <!-- ======= участники ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Кто пойдет?</h2>
          <p>Участники</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="{{url}}" class="img-fluid" alt="" height=300px></div>
              <div class="member-info">
                <h4>{{name}} {{sername}}</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="/event/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="/event/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->





    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>Elbrus Bootcamp</h3>
                <p>
                  Москва, ул.Орджоникидзе, д.11 стр.10 (м. Ленинский проспект)<br><br>
                  <strong>Phone:</strong> +7 499 938-68-24<br>
                  <strong>Email:</strong> info@elbrusboot.camp<br>
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Вернуться к разделам</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#hero">Домой</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">О проекте</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#about-boxes">События</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Персональные данные</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/profile">Личный кабинет</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Регистрация</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Авторизация</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Подпишись</h4>
              <p>Подпишись на рассылку новых мероприятий </p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Подписаться">
              </form>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Elbrus bootcamp</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should re/main intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/ -->
          Designed by <a href="https://elbrusboot.camp/">Elbrus bootcamp</a>
        </div>
      </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/event/vendor/aos/aos.js"></script>
    <script src="/event/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/event/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/event/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/event/vendor/php-email-form/validate.js"></script>
    <script src="/event/vendor/purecounter/purecounter.js"></script>
    <script src="/event/vendor/swiper/swiper-bundle.min.js"></script>


  <script src="https://api-maps.yandex.ru/2.1/?apikey=e1eadd04-7c47-4d9d-bc35-1f156a54f851&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.706771, 37.597288],
                zoom: 7
            });
            myPlacemark = new ymaps.Placemark([55.706771, 37.597288], {
                hintContent: 'Москва!',
                balloonContent: 'Школа Elbrus | Coding Bootcamp '
            });
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
  <!-- Template Main JS File -->
  <script src="/event/js/main.js"></script>

    <!-- Template Main JS File -->
    <script src="/event/js/main.js"></script>

</body>

</html>
